# Google Gemini API key https://makersuite.google.com/app/apikey (free)
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxx
# Telegram bot token from BotFather (https://t.me/botfather)
BOT_TOKEN=1224567:xxxxxxxxxxxxxxxxxxxxxxxx
# Authorized Users: Comma seperated values of either Telegram username or user id. To restrict public access of the bot
AUTHORIZED_USERS=

# Proxy for docker container to handle all outgoing and incoming traffic.
# Recommended format: http://<login>:<password>@<ip>:<port>/
HTTP_PROXY=
HTTPS_PROXY=
